<div>
  <fieldset>
    <form [formGroup]="saveCustomer" (submit)="submitForm()">
      <div class="input-group mb-3">
        <div class="col-auto">
          <label for="firstName" class="input-group-text">Vorname: </label>
        </div>
        <div class="col-auto">
          <input type="text" class="form-control" id="firstName" formControlName="firstName">
        </div>
      </div>

      <div class="input-group mb-3">
        <div class="col-auto">
          <label class="input-group-text" for="lastName">Nachname: </label>
        </div>
        <div class="col-auto">
          <input class="form-control" type="text" id="lastName" formControlName="lastName">
        </div>
      </div>

      <div>

      </div>
      <div>
        <label for="birthday">Geburtsdatum: </label>
      </div>
      <div>
        <input type="date" id="birthday" formControlName="birthday">
      </div>

      <div>
        <label for="address">Adresse: </label>
      </div>
      <div>
        <input type="text" id="address" formControlName="address">
      </div>

      <div>
        <label for="phone">Handynummer: </label>
      </div>
      <div>
        <input type="text" id="phone" formControlName="phone">
      </div>

      <div>
        <label for="email">Email: </label>
      </div>
      <div>
        <input type="text" id="email" formControlName="email">
      </div>

      <div>
        <p>Geschlecht</p>
        <input type="radio" id="gender-male" formControlName="gender" value="male">
        <label for="gender-male">männlich</label>
        <input type="radio" id="gender-female" formControlName="gender" value="female">
        <label for="gender-female">weiblich</label>
      </div>

      <div>
        <label for="diabetics">Diabetiker</label>
      </div>
      <div>
        <input type="checkbox" id="diabetics" formControlName="diabetics">
      </div>

      <div>
        <label for="highBloodPressure">Hochblutdruck</label>
      </div>
      <div>
        <input type="checkbox" id="highBloodPressure" formControlName="highBloodPressure">
      </div>
      <div>
        <select [compareWith]="compareProduct" id="product" formControlName="product">
          <option selected>Choose product...</option>
          <option *ngFor="let product of products" [ngValue]="product">{{product.name}}</option>
        </select>
      </div>
      <br>
      <div>
        <button type="submit" id="saveCustomer" [disabled]="saveCustomer.invalid">
          Speichern
        </button>
      </div>

    </form>
  </fieldset>
</div>
